.clock {
  text-align: center;
  font-size: 40px;
}

.forms {
  text-align: center;
  font-size: 20px;
}

input { 
  width: 30%;
  font-size: 20px;
   margin-left: 5px;
}

button {
  margin-top: 1rem;
  height: 3rem;
  width: 8rem;
  font-size: 20px;
  background-color: lightcoral;
  border: 0;
  border-radius: 10px;
  color: white;
}

h1 {
  padding: 10% 0%;
  color: black;
  font-family: "Sacramento";
  letter-spacing: 8px;
}